@font-face {
  font-family: "super_mario_256regular";
  src: url("../fonts/logo/supermario256-webfont.woff2") format("woff2"),
    url("../fonts/logo/supermario256-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "super_mario_bros._3regular";
  src: url("../fonts/main/super-mario-bros--3-webfont.woff2") format("woff2"),
    url("../fonts/main/super-mario-bros--3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "super_mario_bros._3regular";
  overflow: hidden;
}

#game-intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-intro {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("../images/start-screen-background.jpg");
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

#game-logo {
  text-align: center;
  font-family: "super_mario_256regular";
  font-size: 5vw;
  color: #64b0ff;
  -webkit-text-stroke: 2px black;
  text-shadow: 50px 40px 2px #1412a7;
  display: flex;
  flex-direction: column;
}

#game-logo h1 {
  margin: 0;
}

#game-logo .game-logo-number {
  color: #ea9d00;
  text-shadow: 20px 5px 2px black;
  font-size: 15vw;
}

#game-intro-start-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-intro-start-controls {
  height: 18px;
}
.mariofont {
  color: white;
  font-size: 16px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 2px -1px 0 #000,
    2px 1px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
    0px -2px 0 #000;
}

button {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.2em;
  margin-left: 22px;
}

button > span {
  display: none;
}

button:hover {
  font-size: 18px;
  margin-left: 0px;
}

button:hover > span {
  display: block;
}

#game-container {
  display: none;
}

#game-end {
  display: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#game-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#game-container canvas {
 
}

#score {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px;
}

#game-lost {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#game-lost-options {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  align-items: center;
  
}

#game-lost-options > img {
  width: 48px;
  height: 48px;
  
}

#game-lost-options-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 116px;
  line-height: 1.5rem;
}




.message-window {
  display: flex;
  flex-direction: column;
  /* Set your element's dimensions */
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 0px;

  /* Set the white border */
  border: 5px solid white;
  border-radius: 2px;

  /* Add the outer black outline using box-shadow */
  /* The inner black border is also created using box-shadow */
  box-shadow: 
  -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
  1px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 2px -1px 0 #000,
  2px 1px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
  0px -2px 0 #000, /* Outer black border */
      inset 0 0 0 2px black; /* Inner black border */

  /* Other styles for your element (optional) */
  background-color: #90e7ed;
}

.message-window > p {
  margin: 0px;
}